AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566
DYNAMODB_USERS_TABLE=users
DYNAMODB_JOBS_TABLE=jobs
SQS_HIGH_QUEUE_URL=http://localstack:4566/000000000000/jobs-high
SQS_STANDARD_QUEUE_URL=http://localstack:4566/000000000000/jobs-standard
SQS_DLQ_URL=http://localstack:4566/000000000000/jobs-dlq
S3_REPORTS_BUCKET=prosperas-reports-local
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:job-updates
REDIS_URL=redis://redis:6379/0
JWT_SECRET=local-dev-secret-CHANGE-IN-PROD
JWT_EXPIRY_MINUTES=60
LOG_LEVEL=INFO
